*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
}
/* HEADER CSS-- */
a{
    text-decoration: none;
    color: black;
}

.logo{
    font-weight: 600;
    font-size: 1.5rem;
}
li{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    gap: 17rem;
   padding: 1rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
a:hover{
    color: cadetblue;
}
.Schedulevisit{
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: black;
    color: white;
}
.Schedulevisit:hover{
    color: cadetblue;
}

/* MAIN - CSS */
main{
    background-image: url(./IMAGE/image1.jpeg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  
}
.main-content{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-end;
    margin: 10rem 10rem;
}
.canada{
    width: fit-content;
    padding: 0.2rem 0.2rem;
}
.mainheading{
    color:rgb(234, 33, 33);
    font-weight: 700;
    font-size: 3rem;
}

/* SECTION-1 */
.section1{
    display: flex;
    align-items: flex-start;
    justify-content:center;
    width: 100vw;
    padding-top: 3rem;
    gap: 2rem;
    /* height: 100vh; */
    /* border: 2px solid red; */
}
.sec1card img{
    width: 20rem;
    height: 23em;
    align-items: flex-end;
    z-index: -10;  
}
.sec2card{
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2.5rem;
    /* border: 2px solid red; */
}
.child1sec2card{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.child2sec2card{
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 0.5rem;
    /* background-color: wheat; */
    z-index: -10;
    width: 30rem;
}
.child2sec2card p{
    font-weight: 600;
} 
.usefullink{
    color: red;
    font-size: 1rem;
    font-weight: 600;
}
.sec3card{
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}
.child3sec3card{
    display: flex;
    gap: 1rem;
    /* justify-content: center;
    align-content: center; */
}
.subchildsec3child{
    display: flex;
    flex-direction: column;
}
.subchildsec3child h3{
    font-size: 1rem;
}
.subchildsec3child p{
    font-size: 1rem;
    font-weight: 200;
}
.featured{
    color: red;
    font-size: 800;
}
.child3sec3card i{
    font-size: 2rem;
    color: rgb(193, 7, 7);
    font-style: 600;
}
/* SECTION-2 */
.section2{
    width: 100vw;
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    /* border: 2px solid red; */
}
.sec2top{
    width: 85rem;
    height: 20rem;
    position: relative;
    background-image: url(./IMAGE/image3.webp);
    filter: blur(1px);
}
.sec2top p{
    text-align: center;
    color: white;
    font-weight: 900;
}
.videonow{
    color: red;
}
.sec2mid{
    position: absolute;
    top: 30%;
    left: 13.5%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.sec2mid img{
    width: 40rem;
}
.childsec2mid{
    display: flex;  
     gap: 6rem;
     padding-top: 10rem;
     padding-right: 23rem;
    /* border: 2px solid red; */
}
.subchildsec2mid{
   /* border: 2px solid red; */
   /* padding: 0.6rem; */
   background-color: wheat;
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 10rem;
   height: 3rem;
}
.sec2mid img{
    border-radius:0.5rem;
    width: 40rem;
    height: 18rem;
}
.para p{
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}
.heading h5{
    font-style: 600;
    font-size: 0.8rem;
}
.circle{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: red;
    position: absolute;
    top: -40%;
    left: 86%;
}

.section3{
    /* border: 2px solid red; */
    width: 100vw;
}
.sec3top{
    /* padding-top: 4rem; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 4rem;
    padding-left: 7.5rem;
    padding-right: 15rem; 
}
.child1sec3top p{
     color: red;
     font-style: 600;
}
.child1sec3top h1{
    font-style: 600;
}
.btn{
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 0.2rem;
}
.btn:hover{
    background-color: red;
}
.sec3bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.child1sec3bottom{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 15rem;
}
.child2sec3bottom img{
    width: 30rem;
}
.subchildsec3bottom{
    display: flex;
    gap: 5rem;
     align-items: center;
    /* justify-content: center;  */
}

.child3sec3bottom{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 2rem;
    /* border: 2px solid red; */
}
.visit{
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: black;
}
.visit:hover{
    background-color: red;
}
